[Unit]
Description=NFS Server
Requires=network.target
After=network-online.target
Wants=rclone-mount.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/rclone
ExecStart=/usr/bin/rclone_cmd nfs
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
