[Unit]
Description=rclone mount
Requires=network.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/rclone
ExecStart=/usr/bin/rclone_cmd mount
ExecStop=/usr/bin/fusermount -uz $MOUNT_POINT
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
